.aic-artwork-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--card-bg);
  padding: 1rem 1rem 0 1rem;
}

.aic-artwork-subheader {
  font-size: 1rem;
  font-weight: 600;
  border-bottom: solid 0.5px var(--header-border-color);
  padding-bottom: 1rem;
}

.aic-artwork-context {
  background-color: var(--app-bg);
  padding: 1rem;
}

.aic-collapsible {
  margin-top: 1rem;
}

.aic-toggle {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.3rem 0;
  text-align: left;
}

.aic-collapsible-content {
  margin-top: 0.3rem;
  padding-left: 1rem;
}

.aic-loader {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
}

.aic-back-button {
  background: none;
  border: none;
  font-size: 0.8rem;
  color: var(--link-color);
  cursor: pointer;
  text-align: left;
  margin-bottom: 0.5rem;
}

.aic-artwork-image-wrapper {
  max-width: 70%;
  transition: all 0.3s ease;
  align-items: center;
  display: flex;
  cursor: zoom-in;
}

.aic-artwork-image-wrapper.zoomed {
  max-height: none;
  max-width: none;
  cursor: zoom-out;
}

.aic-artwork-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
