.aic-sidebar-conainer {
  padding: 0 1rem 0.5rem 1rem;
  width: 220px;
  background-color: var(--app-bg);
  flex-shrink: 0;
  overflow-y: auto;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.aic-sidebar-header {
  font-size: 1rem;
  font-weight: 600;
  position: sticky;
  top: 0;
  background-color: var(--app-bg);
  z-index: 100;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.aic-sidebar-conainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aic-sidebar-conainer li {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.aic-sidebar-conainer li:hover {
  background-color: var(--type-hover-color);
}

.aic-sidebar-conainer li.active {
  background-color: var(--type-hover-color-active);
  font-weight: bold;
}

@media (max-width: 768px) {
  .aic-sidebar-conainer {
    position: absolute;
    /* top: 60px; */
    left: 0;
    width: 100%;
    z-index: 10;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .aic-sidebar-conainer.visible {
    transform: translateY(0);
  }
}
