:root {
  --card-bg: #fff;
  --text: rgba(19, 19, 19, 0.87);
  --app-bg: #f9f9f9;
  --type-hover-color: #ececec;
  --type-hover-color-active: #e3e3e3;
  --link-color: #0077cc;
  --header-border-color: #f2f2f2;

  font-family:
    Segoe UI,
    Open Sans,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(19, 19, 19, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-bg: #212121;
    --text: #fff;
    --app-bg: #111111;
    --type-hover-color: #212121;
    --type-hover-color-active: #2f2f2f;
    --link-color: #6dbdf5;
    --header-border-color: #595959;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text);
}
